@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap');
*, ::before, ::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{

  font-family: 'Poppins', sans-serif;
}
.search--container{
  background-color: black;
  padding: 1rem;
}

.app h1{
  color: #ffffff;
  text-align: center;
  margin: 3rem 1rem 1rem 1rem;
}
.empty{
  text-align: center;
  margin: 5rem ;
  font-size: 1rem;

}
.search{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5rem 0;
}
.logo{
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  right: 45rem;
  cursor: pointer;
}
.input{
  width: 30rem;
  height: 3rem;
  text-indent: 10px;
  border: none;
  border-radius: 5px;
}
.input:focus{
  outline: none;
}

.container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 2rem;
  gap: 5rem;
  margin-top: 10rem;
}
.movie--info h3{
  font-size: 1rem;

}
.movie--info span{
  text-transform: uppercase;
  font-size: 12px;
}
.movie--year p {
  position: absolute;
  padding: 16px;

  color: #f9d3b4;
}
.movie--year{
  background-color: black;
  height: 10%;
  width: 100%;
}

.movie--poster{
  width: 100%;
  height: 30rem;
  cursor: pointer;
  transition: all 0.3s;
}
.movie--container{
  overflow: hidden;
}
.movie--container:hover .movie--poster{
  transform: scale(1.1);
}
.movie{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 2rem;
}

/* FOOTER SECTION */

.footer{
  text-align: center;
  background-color: black;
  color: #fff;
  padding: 1.5rem;
  margin-top: 5rem;
}